.container{
    font-family: "Times New Roman", Times, serif;
}

.subjectView {
    text-transform: uppercase;
    text-align: center;
    padding: 70px;
    border-radius: 4px;
    border: 1px solid #aa1717;
    min-width: 500px;
}

.upperRight{
    float: right;
}

.upperLeft{
    float: left;
}

.space { 
    margin-top: 230px; 
}

.lowerRight{
    float: right;
}

.lowerLeft{
    float: left;
}