.container{
    font-family: "Times New Roman", Times, serif;
}
.header_card {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: inherit;
    border-radius: 10px;
}

.prompt_card {
    margin: 1rem;
    padding: 1.6rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 0.5px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    
}

.right {
    float: right;
    border: 1px solid #c7c7c7;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.tab {
    float: right;
    background-color: rgb(216, 131, 21);
    border: 2px solid #000000;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}
.button {
    border-radius: 10px;
}

.subpart_card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.marking_scheme {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.expert_solution {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

